/* font-family: 'Dancing Script', cursive; (esta tiene pinta)
font-family: 'Indie Flower', cursive;

font-family: 'Sacramento', cursive;*/

body {
  margin: 0;
  padding: 0;
  background-color: #f8f6f7;
}

header {
  background-color: #b1b0b0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 20%;
  font-size: xx-large;
  font-family: 'Dancing Script', cursive;
  
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li a {
  font-family: 'Indie Flower', cursive;
  color: black;
  font-size: large;
  text-decoration: none;
  padding: 0 40px 0 20px;
  display: block;
  border-right: 1px solid black;
}

nav ul li a:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.1s;
}

.sesion {
  width: 1150px;
  margin: auto;
  margin-top: 70px;
  display: flex;
  margin-bottom: 275px;
}

.cover img {
  width: 85%;
  height: 100%;
  border-radius: 10%;
  border: 9px solid #b1b0b0;
  animation: img 0.7s linear;
}

.cover-text {
  align-items: center;
  text-align: center;
  margin: auto;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  animation: texto 0.7s linear;
}


@keyframes img {
  from {
    opacity: 0;
    transform: translateX(-170px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes texto {
  from {
    opacity: 0;
    transform: translateX(170px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

h3 {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-family: 'Dancing Script', cursive;
  padding-bottom: 50px;
}

.maincontainer {
  position: relative;
  width: 100%;
  height: 750px;
}

.thecard {
  position: absolute;
  left: 150px;
  width: 350px;
  height: 65%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.thecard:hover {
  transform: rotateY(180deg);
}

.thefront{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-image: url(./uñas.png);
  background-size: cover;
  border-radius: 20%;
  border: 3px solid rgb(117, 115, 115);
}

.theback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-image: url(./uñas.png);
  background-size: cover;
  border-radius: 20%;
  transform: rotateY(180deg);
  color: rgb(33, 54, 99);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
  padding: 3px 6px;
  border: 3px solid rgb(117, 115, 115);
}

.theback:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  backdrop-filter: blur(5px);
  z-index: -1;
  
}

.theback button {
  position: absolute;
  bottom: 10%;
  padding: 10px 40px 10px 40px;
  border-radius: 20px;
}

.thecard:nth-of-type(2) {
  left: 600px;
}

.thecard:nth-of-type(2) .thefront, .thecard:nth-of-type(2) .theback {
  background-image: url(./uñas3.png);
  background-size: cover;
  border-radius: 20%;
}

.thecard:nth-of-type(3) {
  left: 1050px;
}

.thecard:nth-of-type(3) .thefront, .thecard:nth-of-type(3) .theback {
  background-image: url(./uñas4.png);
  background-size: cover;
  border-radius: 20%;
}

.price-container {
  margin-top: 275px;
  position: relative;
  margin-left: 250px;
  width: 1000px;
  height: 600px;
  
}

.price {
  position: absolute;
  width: 40%;
  height: 35%;
  background-color: #d8d6d7;
  border-radius: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.price:nth-child(1) {
  top: 50%;
  height: 30%;
}

.price:nth-child(2) {
  bottom: 250px;
  left: 50%;
}

.types {
  display: flex;
  justify-content: center;
}

.price ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.list {
  position: absolute;
  width: 50%;
}

.price-list {
  position: absolute;
  left: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.price ul  {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.price ul li {
  margin-bottom: 20px;
  padding: 0 20px 0 40px;
}

